node_modules
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
Dockerfile
.dockerignore
docker-compose.yml
.github
.gitlab-ci.yml
.travis.yml
.eslintignore
.eslintrc.js
.prettierrc
.stylelintignore
.stylelintrc
.editorconfig
.husky
coverage
.nyc_output
.tmp
dist
build
*.log
*.lock